<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Open Science</h3>
                        <ul class="alt">
                            <li><a href="http://www.openptv.net">OpenPTV</a></li>
                            <li><a href="http://www.openpiv.net">OpenPIV</a></li>
                            <li><a href="{{ site.baseurl }}research/hot_wire_calibration.html">Hot Wire LUT calibration</a></li>
                            <li><a href="https://www.overleaf.com/latex/templates/master-or-ph-dot-d-thesis-template-for-tel-aviv-university-graduate-students/cknggfrwkmmg#.WAP0e5N97pA">LaTeX thesis template on Overleaf</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Affiliation</h3>
                        <ul class="alt">
                            <li><a href="https://engineering.tau.ac.il/School-of-Mechanical-Engineering">School of Mechanical Engineering</a></li>
                            <li><a href="https://engineering.tau.ac.il/">Faculty of Engineering</a></li>
                            <li><a href="https://www.tau.ac.il/">Tel Aviv University</a></li>
                            <li><a href="howtofindus.html">Directions to the lab</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Follow us</h2>
                <p>We disseminate our work through these social channels </p>
                <ul class="icons">
                    <li><a href="http://twitter.com/alexlib" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="http://github.com/alexlib" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="http://youtube.com/alex2lib" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
                    <li><a href="https://vimeo.com/user52353014/videos" class="icon fa-vimeo-square"><span class="label">Vimeo</span></a></li>
                    <li><a href="https://plus.google.com/u/0/b/105503856966721352556/105503856966721352556/videos" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                    <!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
                    <!-- <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> -->
                    <li><a href="https://il.linkedin.com/in/alexliberzon
" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <!-- <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li> -->
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Alex Liberzon. All rights reserved.</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
            <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
            <li>Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>
        </ul>
    </div>
</footer>
