<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <h2>Follow us</h2>
                <ul class="icons">
                    <li><a href="https://www.google.com/maps/place/The+Jewelry+Appraiser/@40.792895,-73.7008927,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2885563bf3e43:0x8df65b53a5cd6b8a!8m2!3d40.792895!4d-73.698704" class="icon fa-google"><span class="label">Google+</span></a></li>
                    <li><a href="https://www.yelp.com/biz/the-jewelry-appraiser-manhasset-3" class="icon fa-yelp"><span class="label">Pinterest</span></a></li>
                    <li><a href="https://www.facebook.com/TheJewelryAppraiser/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.linkedin.com/in/thejewelryappraiser/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://twitter.com/NYAppraiserDeb" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.pinterest.com/thejewelryappra/" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                    <li><a href="https://www.instagram.com/thejewelryappraiserinc/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
            </div>
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">    
                        <h3>Contact Us</h3>    
                        <ul class="alt">    
                            <li><a href="https://www.google.com/maps/place/The+Jewelry+Appraiser/@40.792895,-73.7008927,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2885563bf3e43:0x8df65b53a5cd6b8a!8m2!3d40.792895!4d-73.698704">1295 Northern Blvd Manhasset, NY 11030</a></li>    
                            <li><a href="tel:5163650888">Phone: (516) 365-0888</a></li>   
                            <li><a href="deborah@thejewelryappraiser.com">Email: deborah@thejewelryappraiser.com</a></li>  
                        </ul>    
                    </div>    
                    <div class="6u">    
                        <h3>Affiliations</h3>    
                        <ul class="alt">    
                            <li><a href="https://www.najaappraisers.com/">National Association of Jewelry Appraisers</a></li>    
                            <li><a href="https://accreditedgemologists.org/">Accredited Gemologists Association</a></li>    
                            <li><a href="https://www.americangemsociety.org/">American Gem Society</a></li>  
                            <li><a href="https://mastervaluer.com/">Master Valuer Program</a></li>  
                        </ul>    
                    </div>    
                </div>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; The Jewelry Appraiser LLC. All rights reserved.</li>
        </ul>
    </div>
</footer>
