<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/about-us">About Us</a></li>
            <!--<li><a href="{{ site.baseurl }}/services">Services</a></li>-->
            <li><a href="{{ site.baseurl }}/pricing">Pricing</a></li>
            <li><a href="{{ site.baseurl }}/blog">Our Blog</a></li>
            <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
            <li><a href="{{ site.baseurl }}/contact-us" class="dark alt button">Contact Us</a></li>
        </ul>
    </nav>
</header>
