<!DOCTYPE html>
<html lang="en">

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Alex Liberzon Laboratory</h2>
                <!-- <p>Turbulence is in our veins</p> -->
                <p> And little whorls have lesser whorls </p>
                <ul class="actions">
                    <li><a href="contact.html" class="button big alt">Contact</a></li>
                    <li><a href="research.html" class="button big alt">Learn more</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
